numpy

#if you should want to use the example jupyter notebook:
IPython
jupyter_client
jupyter_core
jupyterlab
notebook

#if you should want to compete against the algorithms yourself you need flask:
flask 